06-results summary component/.gitignore
06-results summary component/data.json
06-results summary component/index.html
06-results summary component/README.md
06-results summary component/style.css
06-results summary component/assets/fonts/HankenGrotesk-VariableFont_wght.ttf
06-results summary component/assets/fonts/README.txt
06-results summary component/assets/fonts/static/HankenGrotesk-Bold.ttf
06-results summary component/assets/fonts/static/HankenGrotesk-ExtraBold.ttf
06-results summary component/assets/fonts/static/HankenGrotesk-Medium.ttf
06-results summary component/assets/images/favicon-32x32.png
06-results summary component/assets/images/icon-memory.svg
06-results summary component/assets/images/icon-reaction.svg
06-results summary component/assets/images/icon-verbal.svg
06-results summary component/assets/images/icon-visual.svg
06-results summary component/design/active-states.jpg
06-results summary component/design/desktop-design.jpg
06-results summary component/design/desktop-preview.jpg
06-results summary component/design/mobile-design.jpg
