@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ||colors */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
     
    
    /* ||Gradiant color  */
    --Light-slate-blue-bg: hsl(252, 100%, 67%);
    --Light-royal-blue-bg: hsl(241, 81%, 54%);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* ||orther colors  */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



main{
    width: 600px;
    height: 450px;
    background-color:var(--White);
    display: flex;
    border-radius: 25px; 
    box-shadow: 0px 0px 10px black;
}   

/* ||RIGHT SIDE  */

.right-side{
    background: linear-gradient(var(--Light-slate-blue-bg), var(--Light-royal-blue-bg));
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}

 /* || RIGTSIDE HEADING */

.right-side>h2{
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 700;
    color: var(--Light-lavender) ;
}
   
  /* ||RIGHT SIDE CIRCLE  */

.right-side .circle{
    width: 170px;
    height: 170px;
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   /* ||CIRCLE'S NUMBERS */

.right-side .circle .big{
    font-size: 50px;
    font-weight: 800;
    color: var(--White);
}
.right-side .circle .small{
    font-size: 16px;
    font-weight: 400;
    color: var(--Light-lavender);
}

   /* ||RIGHTSIDE FOOTER */

       /* ||HEADING */

.right-side .right-lower h2{
    text-align: center;
    padding-bottom: 4px;
    font-size: 35px;
    font-weight: 700;
    color: var(--White);
}
     /* ||PARAGRAPH */

.right-side .right-lower p{
    text-align: center;
    font-size: 18px;
    font-weight: 350;
    color: var(--Light-lavender);
}
   /* ||LEFTSIDE */
   
.left-side{
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  /* ||LEFTSIDE HEADING  */
.left-side>h2{
    font-size: 24px;
    font-weight: 700;
}
   /* SECTIONS  */
.left-side .line1{
    padding:10px 0 10px 5px;
    border-radius: 10px;
    background-color:  hsla(0, 100%, 67%, 0.085);;
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.left-side .line1 .text1{
    color: var(--Light-red);
    padding: 0 4px 0 5px;
}
.left-side .line1 .num{
    color: gray;
    padding-left: 50px;
}

.left-side .line2{
    padding:10px 0 10px 5px;
    border-radius: 10px;
    background-color:  hsla(39, 100%, 56%, 0.085);
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.left-side  .text2{
    color: var(--Orangey-yellow);
    padding: 0 4px 0 5px;
}
.left-side  .line2 .num{
    color: gray;
    padding-left: 55px;
}


.left-side .line3{
    padding:10px 0 10px 5px;
    border-radius: 10px;
    background-color:  hsla(166, 100%, 37%, 0.085);
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.left-side  .text3{
    color: var(--Green-teal);
    padding: 0 4px 0 5px;
}
.left-side .line3 .num{
    color: gray;
    padding-left: 70px;
}


.left-side .line4{
    padding:10px 0 10px 5px;
    border-radius: 10px;
    background-color:  hsla(234, 85%, 45%, 0.085);
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.left-side  .text4{
    color: var(--Cobalt-blue);
    padding: 0 4px 0 5px;
}

.left-side .line4 .num{
    color: gray;
    padding-left: 75px;
}



.left-side svg{
    padding-left:2px;
    font-size: 18px;
}


.left-side span{
    color: rgb(38, 36, 36);
}


/* ||continue button  */

button{
    background-color: var(--Dark-gray-blue);
    padding: 20px 20px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--White);
    transition: background-color 0.5s;
}

button:hover ,button:focus{
    background-color: rgb(6, 3, 60);
}

button:active{
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
}
 
   /* FOOTER  */
.attribution { 
    padding: 50px 0;
    font-size: 14px;
     text-align: center;

}

.attribution a {
     color: hsl(228, 45%, 44%); 
}


@media (max-width:600px) {

    html, body{
        height: 100%;
        width: 100%;
        font-family: "Hanken Grotesk", sans-serif;
        background-color: var(--Pale-blue);
        display: flex;
        flex-direction: column;
        
    }
    main{
        width: 100%;
        height: 100%;
        background-color:var(--White);
        display: flex;
        flex-direction: column;
       border-radius:  0 0 0 0; 
       padding-bottom: 0;
       margin-bottom: 0;
        
    }
    .right-side{
        padding: 10px;
        border-radius: 0  0  25px 25px;
        justify-content:space-around;
    }

    
    .right-side>h2{
        height: 9vh;
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
    }

    .right-side .circle{
       
        width: 120px;
        height: 120px;
        border-radius: 100px;
    }

    .right-side .circle .big{
        font-size: 30px;
        font-weight: 650;
        color: var(--White);
    }

    .right-side .right-lower h2{
        
        padding: 7px;
        font-size: 25px;
        font-weight: 600;
    }

    .right-side .right-lower p{
        text-align: center;
        padding: 0 25px 20px 25px;
        font-size: 16px;
        font-weight: 300;
    }

    .left-side{
        width: 100%;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .left-side>h2{
        font-size: 20px;
        font-weight: 600;
    }
    
    
    
    
    .attribution { display:none ;
        font-size: 11px; 
        text-align: center; 
    }
}