@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BGCOLOR:hsl(0, 0%, 8%);
    --COVER-BG-COLOR:hsl(0, 0%, 12%);
    --BUTTON-BG-COLOR:hsl(0, 0%, 20%);
    --TEXT-COLOR:hsl(0, 0%, 100%);
    --GREEN-COLOR: hsl(75, 94%, 57%);
}

html,body{
    height: 95%;
    width: 100vw;
    font-family:"Inter", sans-serif;
    color: var(--TEXT-COLOR);
    background-color: var(--BGCOLOR);
    margin:2vw 0;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    
}

.cover{
    background-color: var(--COVER-BG-COLOR);
    height: 91%;
    width: 25vw;
    padding: 1.5vw 1.3vw 0 1.3vw;
    border-radius: 15px;
}

.top .img-section img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;  
}
.top .img-section{
    /* background-color: aqua; */
   display: flex;
   justify-content: center;
}

.top>h1{
    text-align: center;
    /* background-color:black; */
    padding-top: 1.3vw;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.2vw;
}

.top>h3{
    text-align: center;
    /* background-color:rgb(149, 38, 38); */
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--GREEN-COLOR);   
}

.top>p{
    text-align: center;
    font-size: 14px;
    /* background-color: tomato; */
    padding: 1.4vw 0 1vw 0;   
}

.buttons{
    
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    text-align: center;
    column-gap: 1.2vw;
}

.buttons a{
    color: var(--TEXT-COLOR);
    background-color: var(--BUTTON-BG-COLOR);
    text-decoration: none;
    border-radius: 10px; 
    margin-bottom: 0.8vw;
    padding: 1.2vw ;
}

.buttons a:hover, a:focus, a:active{
    background-color: var(--GREEN-COLOR);
    color:var(--BGCOLOR)
}


 .footer .attribution{
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 4vw;
}
.footer .attribution a{
    text-decoration: none;
}


@media(max-width:600px){
    html,body{
        height:91%;
        width: 100vw;
        font-family:"Inter", sans-serif;
        color: var(--TEXT-COLOR);
        background-color: var(--BGCOLOR);
        margin:13vw 3vw;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        
    }
    .cover{
        background-color: var(--COVER-BG-COLOR);
        height: 75vh;
        width: 80vw;
        padding: 7vw 5vw 0 5vw;
        border-radius: 15px;
    } 

    .top>h1{
        text-align: center;
        /* background-color:black; */
        padding-top: 3vw ;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.2vw;
    }
    .top>h3{
        text-align: center;
        /* background-color:rgb(149, 38, 38); */
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: -0.2vw;
        color: var(--GREEN-COLOR);   
    }

    .top>p{
        text-align: center;
        font-size: 14px;
        /* background-color: tomato; */
        padding: 2vh 0 1.5vh 0;   
    }

    .buttons{
    
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
        text-align: center;
        gap: 2vh;
    }

    .buttons a{
        color: var(--TEXT-COLOR);
        background-color: var(--BUTTON-BG-COLOR);
        text-decoration: none;
        border-radius: 10px; 
        margin-bottom: 0.8vw;
        padding: 3.3vw ;
    }

    .footer .attribution{

        width: 80%;
        font-size: 14px;
        text-align: center;
        margin-top: 10vw;
        padding-left: 8vw;
    }    
}




