@font-face {
    font-family: 'figtreelight';
    src: url('../assets/fonts/figtree-variablefont_wght-webfont.woff2') format('woff2'),
         url('../assets/fonts/figtree-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: light;

}



/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


 :root{
    /* |colors */

    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);

    /* |FONT size */

    --fs1:1.5rem;
    --fs2:1rem;
    --fs3:0.875rem;
    
 }

 html, body{
    height: 100%;
     font-family: 'figtreelight',sans-serif ;
     background-color: var(--Yellow); 
     display: flex;
     justify-content: center; 
     align-items: center;

 }

 main{
   width: 327px;
   height: 501px;
   background-color: var(--White);
   padding: 1.5rem;
   border-radius: 20px;
   border: 1px solid black;
   box-shadow: 10px 10px;
  }

 figure img{
    width: 279px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

 .content{
  padding: 1.2rem 0;
  color: var(--Gray-950);
 }

 .content .category{
  width: 4.625rem;
  height: 1.625rem;
  background-color: var(--Yellow);
  font-size: var(--fs3);
  font-weight: bolder;
  text-align: center;
  padding-top: 0.188rem;
  border-radius: 4px;
  color: var(--Gray-950);
 }
 .content .publish-date{
  padding-top: 0.75rem;
  font-size: var(--fs3);
  font-weight: 500;
 }
 
 .content .title {
   padding-top:0.75rem ;
   font-size: var(--fs1);
   font-weight: 900;
   transition: color .3s;
  }
  
  .content a{
   color: var(--Gray-950);
   text-decoration: none;
   letter-spacing: -0.125rem;
  }
 .content a:hover{
  color: var(--Yellow);
 }
 
 .content p{
  padding-top: 0.75rem;
  font-size: var(--fs2);
  font-weight:500;
  color: var(--Gray-500);
 }

 .user{
  display:flex;
  align-items: center;
  padding-bottom: 1.25rem;
 }

 .user .auther-name{
  font-size: var(--fs3);
  font-weight: 700;
  padding-left: 0.75rem;
 }
@media (width >= 30rem) {
     
  main{
    width: 384px;
    height: 522px;
    background-color: var(--White);
  }
  

  figure img{
    width: 336px;
    height: 200px;
  }

  .content a{
    
    letter-spacing: 0px;
   }
}


 